
<div class="container">
  <div class="card-wrapper">


      <div class="card-left">
          <div class="thumbnail-image">
              <img src="./../../../assets/egy.jpg" alt="">
          </div>


      </div>

      <div class="card-right">
          <h2 class="product-title rounded">Egyption T-Shirt</h2>
          <a href="#" class="product-link">visit a site to buy this item</a>
          <div class="product-rating">
              <span>Rating </span>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
          </div>

          <div class="product-price">

              <p class="price">Price: <span>$95.00</span></p>
          </div>

          <div class="product-detail">
              <h2>description: </h2>
              <p>EGY t-shirt logo free custom made name number npl t-shirt nation flag np republic Egyption college
                  print photo clothing! Buy it to support Egypt. YALLA EGY!! </p>
              <ul>
                  <li>
                      <div class="sizes mt-2 ">
                          <h6 class="text-uppercase">Size</h6>
                          <label class="radio">
                              <input type="radio" name="size" value="S" checked> <span>L</span>

                          </label>
                      </div>
                  </li>
                  <li>

                      <div class="colors mt-3 ">
                          <h6 class="text-uppercase">Color</h6>
                          <label class="radio">

                          </label> <label class="radio"> <input type="radio" name="color" value="red" checked>
                              <span>RED</span>

                          </label>
                      </div>
                  </li>
              </ul>
          </div>

          <div class="stock">

              <button type="button" class="btn">
                  Add to Cart
              </button>
          </div>
      </div>

  </div>
</div>
