<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-lg-12 col-sm-12 shadow-lg  bg-white  rounded  p-5">

            <div class="text-uppercase fw-semibold mb-4"> Product section</div>
            <table class="table">
                <thead class="table-dark ">
                    <tr>
                        <th>Salary</th>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Categorie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img class="imageformat rounded-circle " src="assets/product-s3.webp" alt="">
                        </td>
                        <td class=" py-4">
                            amal
                        </td>
                        <td class="py-4">
                            amal
                        </td>
                        <td class="py-4">
                            <a class="btn btn-outline-danger rounded ">Delete</a>
                            <a class="btn btn-outline-primary rounded  ms-2 ">Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>