<div class=" container-fluid">
    <div class="row ">
        <div class="bg-light con  px-0">
            <app-dashboard-nav></app-dashboard-nav>
            <div class="main">
                <div class="main-top">
                    <h1>Dashboard</h1>
                    <i class="fas fa-user-cog"></i>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-center my-5">
                        <div class="col-lg-12 col-sm-12 shadow-lg  bg-white  rounded  p-5">
                            <div class="text-uppercase fw-semibold mb-4" style="text-align: center;"> New product Form
                            </div>
                            <div style="display: flex; justify-content:center;">
                                <form [formGroup]="productForm" (ngSubmit)="addproduct($event)" style="width: 40%;">
                                    <div class="d-flex flex-row align-items-center mb-4 w-20">
                                        <label class="form-label" for="form3Example1c"
                                            style="font-weight: 800;">Title:</label>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c"
                                                placeholder="Enter Your product title" class="form-control"
                                                style=" width: 95%; margin-left: 18px;" formControlName="title" />
                                            <ng-container *ngIf="gettitle.touched">
                                                <div *ngIf="gettitle.hasError('required')" id="emailHelp"
                                                    class="form-text text-danger">
                                                    title is Required
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div style="display: flex; justify-content: space-between;width: 100%;">
                                            <div style="display: flex; justify-content: space-between;">
                                                <label class="form-label pt-3 " for="form3Example1c"
                                                    style="font-weight: 800;margin-top: -10px; margin-right: 12px;">price:</label>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="number" id="form3Example1c" placeholder="Price"
                                                        class="form-control w-100" formControlName="price" />
                                                    <ng-container *ngIf="getprice.touched">
                                                        <div *ngIf="getprice.hasError('required')" id="emailHelp"
                                                            class="form-text text-danger">
                                                            price is Required
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <div
                                                style="display: flex; justify-content: space-between; margin-left: 10px;">
                                                <label class="form-label p-3" for="form3Example1c"
                                                    style="font-weight: 800; margin-top: -10px;">quantity:</label>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="number" id="form3Example1c" placeholder="Quantity"
                                                        class="form-control "
                                                        max="255" min="0"
                                                        style="width: 95%;"
                                                        formControlName="quantity" />
                                                    <ng-container *ngIf="getquantity.touched">
                                                        <div *ngIf="getquantity.hasError('required')" id="emailHelp"
                                                            class="form-text text-danger">
                                                            quantity is Required
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <label class="form-label" for="form3Example1c"
                                            style="font-weight: 800; width: 20%;">Category:</label>
                                        <div class="form-outline flex-fill mb-0">
                                            <select class="form-select " style=" margin-left: 15px; width: 95%;"
                                                aria-label="Default select example" formControlName="category">
                                                <option *ngFor="let item of categories" value={{item._id}}>{{item.name}}
                                                </option>
                                            </select>
                                            <ng-container *ngIf="getcategories.touched">
                                                <div *ngIf="getcategories.hasError('required')" id="emailHelp"
                                                    class="form-text text-danger">
                                                    category is Required
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <label class="form-label" for="form3Example1c"
                                            style="font-weight: 800;">Image:</label>
                                        <div class="form-outline flex-fill mb-0">
                                            <!-- <img src="{{base64}}" style="width: 200px;" height="100px"> -->
                                            <!-- <input type="file" style="width: 95%; margin-left: 15px;"
                                                id="form3Example1c" class="form-control" formControlName="image"
                                                (change)="getImagePath($event)" /> -->
                                            <input type="text" id="form3Example1c"
                                                placeholder="Enter Your product image" class="form-control"
                                                style=" width: 95%; margin-left: 18px;" formControlName="image" />
                                            <ng-container *ngIf="getimage.touched">
                                                <div *ngIf="getimage.hasError('required')" id="emailHelp"
                                                    class="form-text text-danger">
                                                    image is Required
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <label class="form-label" for="form3Example1c"
                                            style="font-weight: 800;">Description:</label>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" style="width: 95%; margin-left: 10px;"
                                                id="form3Example1c" placeholder="Enter Your Description"
                                                class="form-control" formControlName="description" />
                                            <ng-container *ngIf="getsmallDescription.touched">
                                                <div *ngIf="getsmallDescription.hasError('required')" id="emailHelp"
                                                    class="form-text text-danger">
                                                    Description is Required
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <label class="form-label" for="form3Example1c"
                                            style="font-weight: 800; margin-top: -50px;">Rich
                                            Description:</label>
                                        <div class="form-outline flex-fill mb-0">
                                            <textarea type="text"
                                                style="max-width: 95%;  height: 200px; width: 95%;margin-left: 10px;"
                                                minlength="5" maxlength="100" id="form3Example1c"
                                                placeholder="Enter Your product Description" class="form-control"
                                                formControlName="richDescription">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       </textarea>
                                            <ng-container *ngIf="getdescription.touched">
                                                <div *ngIf="getdescription.hasError('required')" id="emailHelp"
                                                    class="form-text text-danger">
                                                    Rich Description is Required
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-md w-100"
                                            [disabled]="!productForm.valid">Add</button>
                                    </div>
                                </form>
                                <!-- <div>
                                        <img style="width: 650px; height: 400px;" class="rounded"
                                            src="https://barn2.com/wp-content/uploads/2020/12/934438_Featured-Image-for-Barn2_Op3_010421.png" alt="">
                                    </div> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>