<div class="product-item bg-light mb-4">
  <div class="product-img position-relative overflow-hidden">
      <img class="w-100" src="./../../../assets/1.jpg" alt="">
      <div class="product-action">
          <a class="btn btn-outline-dark btn-square"><i
              class="fa fa-shopping-cart"></i></a>
      </div>
  </div>
  <div class="text-center py-4">
      <h6>Shawl Collar Gigot Sleeve Blazer</h6>
      <div class="d-flex align-items-center justify-content-center mt-2">
          <h5>$25.00</h5>
      </div>
      <div class="d-flex align-items-center justify-content-center mb-1">
          <small class="fa fa-star text-primary mr-1"></small>
          <small class="fa fa-star text-primary mr-1"></small>
          <small class="fa fa-star text-primary mr-1"></small>
          <small class="far fa-star text-primary mr-1"></small>
          <small class="far fa-star text-primary mr-1"></small>
          <small>(79)</small>
      </div>
  </div>
</div>
