
<div class="container-fluid pt-5  pb-3">
  <h2 style=" margin-bottom: 20px; margin-top: 30px;" class="title"> Categories </h2>
  <div class="row px-xl-5 pb-3 my-5">

      <app-cat class="col-lg-3 col-md-4 col-sm-6 pb-1 prd_click" ></app-cat>
      <app-cat class="col-lg-3 col-md-4 col-sm-6 pb-1 prd_click" ></app-cat>
      <app-cat class="col-lg-3 col-md-4 col-sm-6 pb-1 prd_click" ></app-cat>
      <app-cat class="col-lg-3 col-md-4 col-sm-6 pb-1 prd_click" ></app-cat>

  </div>
  <div class="row  px-xl-5 my-5">

     <!-- <app-product class="col-lg-3 col-md-4 col-sm-6 pb-1 " *ngFor="let product of products " [myProduct]="product"></app-product> -->
      <app-product  class="col-lg-3 col-md-4 col-sm-6 pb-1"></app-product>
      <app-product  class="col-lg-3 col-md-4 col-sm-6 pb-1" ></app-product>
      <app-product  class="col-lg-3 col-md-4 col-sm-6 pb-1" ></app-product>
      <app-product  class="col-lg-3 col-md-4 col-sm-6 pb-1" ></app-product>
      <app-product  class="col-lg-3 col-md-4 col-sm-6 pb-1" ></app-product>
      <app-product  class="col-lg-3 col-md-4 col-sm-6 pb-1" ></app-product>
      <app-product  class="col-lg-3 col-md-4 col-sm-6 pb-1" ></app-product>
      <app-product  class="col-lg-3 col-md-4 col-sm-6 pb-1" ></app-product>

  </div>
</div>
