

    <h2 style=" margin-bottom: 20px;" class="title"> Categories </h2>
    <div class="categories">

        <div class="buttons">
            <button id="men">Men</button>
            <button id="shoes">Shoes</button>
            <button id="women">Women</button>


        </div>
        <div class="cards">
            <div class="first">
                <!-- 1 -->
            <div class="div1">
                <div class="cat-container">
                <div class="cat-image">
                <img   src="./../../../assets/1.jpg " class="pho">
                </div>
                <div class="cat-name">
                    <h2 class="product_name">Egyption T-Shirt</h2>
                </div>

                </div>
                <p class="product_discription" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab  </p>
                <button class="addCatr">Add To Cart</button>
            </div>

            <!-- 2 -->
            <div class="div1">
                <div class="cat-container">
                    <div class="cat-image">
                    <img src="./../../../assets/2.jpg " class="pho">
                    </div>
                    <div class="cat-name">
                        <h2 class="product_name">Egyption T-Shirt</h2>
                    </div>

                    </div>
                    <p class="product_discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab  </p>
                    <button class="addCatr">Add To Cart</button>
            </div>
            <!-- 3 -->
            <div class="div1">
                <div class="cat-container">
                    <div class="cat-image">
                    <img src="./../../../assets/1.jpg " class="pho">
                    </div>
                    <div class="cat-name">
                        <h2 class="product_name">Egyption T-Shirt</h2>
                    </div>

                    </div>
                    <p class="product_discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab  </p>
                    <button class="addCatr">Add To Cart</button>
            </div>
            <!-- 4 -->
            <div class="div1">
                <div class="cat-container">
                    <div class="cat-image">
                    <img src="./../../../assets/2.jpg " class="pho">
                    </div>
                    <div class="cat-name">
                        <h2 class="product_name">Egyption T-Shirt</h2>
                    </div>

                    </div>
                    <p class="product_discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab  </p>
                    <button class="addCatr">Add To Cart</button>
            </div>
            </div>
            <!-- second -->
            <div class="second">
                <div class="div1">
                    <div class="cat-container">
                    <div class="cat-image">
                    <img src="./../../../assets/1.jpg " class="pho">
                    </div>
                    <div class="cat-name">
                        <h2 class="product_name">Egyption T-Shirt</h2>
                    </div>

                    </div>
                    <p class="product_discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab  </p>
                    <button class="addCatr">Add To Cart</button>
                </div>

                <!-- 2 -->
                <div class="div1">
                    <div class="cat-container">
                        <div class="cat-image">
                        <img src="./../../../assets/2.jpg " class="pho">
                        </div>
                        <div class="cat-name">
                            <h2 class="product_name">Egyption T-Shirt</h2>
                        </div>

                        </div>
                    <p class="product_discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus   </p>
                    <button class="addCatr">Add To Cart</button>
                </div>
                <!-- 3 -->
                <div class="div1">
                    <div class="cat-container">
                        <div class="cat-image">
                        <img src="./../../../assets/1.jpg " class="pho">
                        </div>
                        <div class="cat-name">
                            <h2 class="product_name">Egyption T-Shirt</h2>
                        </div>

                        </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus  </p>
                    <button class="addCatr">Add To Cart</button>
                </div>
                <!-- 4 -->
                <div class="div1">
                    <div class="cat-container">
                        <div class="cat-image">
                        <img src="./../../../assets/2.jpg " class="pho">
                        </div>
                        <div class="cat-name">
                            <h2 class="product_name">Egyption T-Shirt</h2>
                        </div>

                        </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus  </p>
                    <button class="addCatr">Add To Cart</button>
                </div>
            </div>
            <!-- cards-->
            <div class="third">
                <!-- 1 -->
            <div class="div1">
                <div class="cat-container">
                <div class="cat-image">
                <img src="./../../../assets/1.jpg " class="pho">
                </div>
                <div class="cat-name">
                    <h2 class="product_name">Egyption T-Shirt</h2>
                </div>

                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus  </p>
                <button class="addCatr">Add To Cart</button>
            </div>

            <!-- 2 -->
            <div class="div1">
                <div class="cat-container">
                    <div class="cat-image">
                    <img src="./../../../assets/2.jpg " class="pho">
                    </div>
                    <div class="cat-name">
                        <h2 class="product_name">Egyption T-Shirt</h2>
                    </div>

                    </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus  </p>
                <button class="addCatr">Add To Cart</button>
            </div>
            <!-- 3 -->
            <div class="div1">
                <div class="cat-container">
                    <div class="cat-image">
                    <img src="./../../../assets/1.jpg " class="pho">
                    </div>
                    <div class="cat-name">
                        <h2 class="product_name">Egyption T-Shirt</h2>
                    </div>

                    </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus   </p>
                <button class="addCatr">Add To Cart</button>
            </div>
            <!-- 4 -->
            <div class="div1">
                <div class="cat-container">
                    <div class="cat-image">
                    <img src="./../../../assets/2.jpg " class="pho">
                    </div>
                    <div class="cat-name">
                        <h2 class="product_name">Egyption T-Shirt</h2>
                    </div>

                    </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus  </p>
                <button class="addCatr">Add To Cart</button>
            </div>
            </div>
            <!-- second -->
            <div class="fourth">
                <div class="div1">
                    <div class="cat-container">
                    <div class="cat-image">
                    <img src="./../../../assets/1.jpg " class="pho">
                    </div>
                    <div class="cat-name">
                        <h2 class="product_name">Egyption T-Shirt</h2>
                    </div>

                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus </p>
                    <button class="addCatr">Add To Cart</button>
                </div>

                <!-- 2 -->
                <div class="div1">
                    <div class="cat-container">
                        <div class="cat-image">
                        <img src="./../../../assets/2.jpg " class="pho">
                        </div>
                        <div class="cat-name">
                            <h2 class="product_name">Egyption T-Shirt</h2>
                        </div>

                        </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab  </p>
                    <button class="addCatr">Add To Cart</button>
                </div>
                <!-- 3 -->
                <div class="div1">
                    <div class="cat-container">
                        <div class="cat-image">
                        <img src="./../../../assets/1.jpg " class="pho">
                        </div>
                        <div class="cat-name">
                            <h2 class="product_name" >Egyption T-Shirt</h2>
                        </div>

                        </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab  </p>
                    <button class="addCatr">Add To Cart</button>
                </div>
                <!-- 4 -->
                <div class="div1">
                    <div class="cat-container">
                        <div class="cat-image">
                        <img src="./../../../assets/2.jpg " class="pho">
                        </div>
                        <div class="cat-name">
                            <h2 class="product_name">Egyption T-Shirt</h2>
                        </div>

                        </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab  </p>
                    <button  class="addCatr">Add To Cart</button>
                </div>
            </div>
        </div>

    </div>
    