.prd_click {
  cursor: pointer;
}


.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #6096B4;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  }

.font{
  font-size: larger;
  font-family:Verdana;
}



ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  transition: 0.5s;
}

ul li a:hover {
  color:hwb(204 19% 29%) ;
  font-size: 25px;

}






















